.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 30px;
  padding: 1rem;
  font-weight: bold;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 100;
}

.title {
  font-size: 2rem;
}
.container {
  margin-left: 23rem;
  display: flex;
  width: 100%;
  color: white;
}
.container li {
  font-size: 1rem;
  padding: 1em;
  margin-right: 1em;
  transition: 0.3s;
  cursor: pointer;
}
.container li:hover {
  text-decoration: underline;
}

.login {
  font-size: 1.2rem;
}
